<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Done</title>
    <style>
      ul {
        list-style: none;
        margin: 10px;
      }
      h2 {
        color: chocolate;
      }
    </style>
  </head>
  <body>
    <nav>
      <ul>
        <iu>
          <a href="">Home Page</a>
        </iu>
        <iu>
          <a href="/systems">Systems</a>
        </iu>
      </ul>
    </nav>
    <h2>Done Page</h2>
  </body>
</html>
