<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Systems</title>
    <style>
      ul {
        margin: 0;
        list-style: none;
      }
    </style>
  </head>
  <body>
    <nav>
      <ul>
        <iu>
          <a href="/systems">Systems</a>
        </iu>
        <iu>
          <a href="/">Home Page</a>
        </iu>
      </ul>
    </nav>
    <h2>Our Systems</h2>
  </body>
</html>
